*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}

.html{
    background-color: rgb(255, 255, 255);
}

.tituloPrincipal{
    display: flex;
    font-size: 12;
    text-align: center;
    justify-content: center;
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);    color: rgb(0, 0, 0);
    padding: 15px;
    text-shadow: 7px 7px 10px black;
    grid-area: tituloPrincipal;
}

.containerGridHeader{
    position: relative;
    height: 135px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "tituloPrincipal"
    "containerMenu"
    ;
}

/*Barra Menu*/
.containerMenu{
    position: absolute;
    grid-area: containerMenu;
    height: 100%;
    width: 100%;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0, 10px;
}

a{
    text-decoration: none;
}

a:link{
    color: gold;
}

a:visited{
    color: black;
}

.menu{
    margin: auto;
    height: 60px;
}

.menu nav{
    height: 100%;
}

.primerFila{
    display: flex;
    height: 100%;
    padding: 15px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.primerFila li{
    height: 100%;
    width: 115px;
    position: relative;
}

.primerFila li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px, 200px;
    font-size: 16px;
    background: rgb(221, 221, 210);
}

.menu a:hover{
    transform: scale(1.1);
    background-color: rgb(219, 131, 15);
    border-radius: 5px;
    transition: 1s;
}
/*Fin Barra Menu*/

/*SubMenu*/
.primerFila > li > ul{
    width: 125px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 10px;
    padding: 5px 5px 5px 7px;
    color: rgb(0, 0, 0);
    background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);    list-style-type: none;
    transition: 0.5s;
    box-shadow: 5px black;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.primerFila > li:hover > ul{
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.primerFila > li > ul:before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 12px solid rgb(221, 221, 210);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 20px;
    border-radius: 2px;
}

.primerFila > li > ul > li{
    width: 114px;
    height: 35px;
    padding-bottom: 5px;
}

/*SubMenu del apartado Niveles*/
.primerFila > li > ul > li > a{
    padding: 7px;
}

.primerFila > li > ul > li > a:hover{
    transition: 0.5s;
    background-color: rgb(219, 131, 15);
    transform: scale(1.1);
    visibility: visible;
    z-index: 9;
}

.segundoSubmenu{
    position:absolute;
    padding-left: 10px;
    top:-1px;
    right: -10px;
    height: inherit;
    z-index: -1;
}

.segundoSubmenu li {
    width: 120px;
    display: flex;
    position: relative;
    flex-direction: column;
    top: -10px;
    left: 122px;
    padding: 7px;
    color: rgb(0, 0, 0);
    background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
}

.segundoSubmenu li a{
    display: flex;
    height: 30px;
    text-align: center;
}

.primerFila li:hover > .segundoSubmenu li{
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.segundoSubmenu .flechita:before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid rgb(127, 173, 170);
    position: absolute;
    top: 14px;
    left: -20px;
    border-radius: 2px;
}

/*Fin SubMenu del apartado Niveles*/
/*Fin SubMenu*/

.containerGridMain{
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "aside_Container sectionPrincipal"
    ;
}

/*Aside*/
.aside_Container{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: 100%;
    grid-area: aside_Container;
}
/*Fin Aside*/

/*Seccion Principal*/
.sectionPrincipal{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, #9fb7f5 0, #6c90d8 50%, #2c6bbb 100%);
    padding: 20px;
    justify-content: center;
    height: 100%;
    grid-area: sectionPrincipal;
}
/*Fin Seccion Principal*/

/*Pagina Niveles*/
.contenedorSection{
    position: relative;
    display: flex;
    flex-direction: column;
}

.sectionInfoNiveles{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(175deg, #6c90d8 0, #6c90d8 50%, #6c90d8 100%);    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.sectionInfoNiveles p{
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
}

.ciclos{
    width: 100%;
    margin: 0px 0px 30px 0px;
    background-color: rgba(199, 30, 30, 0.644);
}

.sectionInfoNiveles h3{
    width: 80%;
    background-color: goldenrod;
    margin: 30px 0px 30px 0px;
}
/*Fin Pagina Niveles*/

/*Pagina Galeria*/
.contenedor{
    padding: 10px 0;
    display: grid;
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 13rem;
    background-image: linear-gradient(to right bottom, #051937, #003c5e, #006168, #008352, #7b9d2d);    gap: 20px 0px;
    grid-template-areas:
    "card-1 card-2"
    "card-3 card-4"
    "card-5 card-6"
    "card-7 card-8"
    ;
}

.card{
    border-radius: 10px;
    margin-left: 5%;
    min-height: 150px;
    font-weight: bold;
    padding: 10px;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: rgba(127, 255, 212, 0.493);
}

.card-1{
    grid-area: card-1;
}

.card-2{
    grid-area: card-2;
}

.card-3{
    grid-area: card-3;
}

.card-4{
    grid-area: card-4;
}

.card-5{
    grid-area: card-5;
}

.card-6{
    grid-area: card-6;
}

.card-7{
    grid-area: card-7;
}

.card-8{
    grid-area: card-8;
}


.text{
    position: absolute;
    max-width: 400px;
    top: 25%;
    left: 27%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    visibility: hidden;
    z-index: 5;
    background-color: rgba(127, 255, 212, 0.411);
}

.card:hover {
    visibility: visible;
    background-color: rgb(30, 30, 196);
    transition: 0.5s;
}

/*Fin Pagina Galeria*/

/*Pagina Especialidades*/
.containerMenuEspecialidades{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "aside_Container sectionPrincipal"
    ;
}
/*Fin Pagina Especialidades*/

/*Pagina Contactanos*/
.contenedorFormulario {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.infoContacto ul {
    list-style: none;
    padding: 0;
}

.logoForm {
    text-align: center;
    font-size: 3em;
}

.contenedorContacto {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contenedorContacto > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    color: white;
}

.contact-form form .bloque {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.infoContacto {
    background: #000;
}

.infoContacto h4, .infoContacto ul, .infoContacto p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: white;
}
/*input:focus
.container p:not(.class) para excluir a la clase
form::placeholder*/
/*Fin Pagina Contactanos*/

/*Parte Footer*/
.containerGridFooter{
    display: grid;
    grid-template-columns: 1fr;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-template-areas: "redesSociales";
}

.logos{
    display: flex;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
}

.redesSociales{
    grid-area: redesSociales;
    display: flex;
    text-align: justify;
}

.redesSociales a{
    padding: 4px;
}

.contenedorFlechaArriba{
    position: fixed;
    width: 7%;
    right: 0%;
    bottom: 1%;
}

.flechaParaArriba{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
}

.contenedorFlechaArriba p{
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: row;
    height: 25px;
    bottom: 110%;
    right: 50%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
}

.contenedorFlechaArriba:hover p{
    visibility: visible;
    transition: 0.3s;
    background-color: rgba(255, 235, 205, 0.76);
    border-radius: 5px;
}
/*Fin Parte Footer*/

@media screen and (max-width: 768px){
    /*.containerMenu{
        width: 100%;
        height: 100px;
    }

    .aside_Container{
        height: 54.2%;
    }*/

}

@media  screen and (max-width: 576px) {

}

/*SIN BOOSTRAP
320   480    600    768 y 1023   1024    1200*/

/*BOOSTRAP
576 y 768*/
