* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vollkorn";
}

.containerGridHeader {
  position: relative;
  height: 135px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "tituloPrincipal" "containerMenu";
}

.logo {
  position: absolute;
  top: 0;
  left: 50px;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.logo2 {
  position: absolute;
  top: 0;
  right: 50px;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.tituloPrincipal {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);
  color: rgb(0, 0, 0);
  padding: 15px;
  text-shadow: 7px 7px 10px black;
  grid-area: tituloPrincipal;
}

/*Barra Menu*/
.containerMenu {
  position: absolute;
  grid-area: containerMenu;
  height: 100%;
  width: 100%;
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  background: linear-gradient(to right, #3498db, #2c3e50);
  padding: 0, 10px;
}

a {
  text-decoration: none;
  color: black;
}

.primerFila li a:link {
  background: rgba(0, 179, 219, 0.662745098);
  background: -webkit-linear-gradient(to right, rgba(0, 132, 176, 0.5137254902), rgba(0, 179, 219, 0.5490196078));
  background: linear-gradient(to right, rgba(0, 132, 176, 0.5882352941), rgba(0, 179, 219, 0.5058823529));
}

.menu {
  margin: auto;
  height: 60px;
}
.menu nav {
  height: 100%;
}

.primerFila {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
  flex-wrap: wrap;
  list-style: none;
}
.primerFila li {
  height: 100%;
  width: 115px;
  position: relative;
}
.primerFila li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px, 200px;
  font-size: 16px;
  background: rgb(221, 221, 210);
}
.primerFila li a:hover {
  transform: scale(1.1);
  background-color: rgb(219, 131, 15);
  border-radius: 5px;
  transition: 0.5s;
}
.primerFila > li > ul {
  width: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45px;
  left: 10px;
  padding: 5px 5px 5px 7px;
  color: rgb(0, 0, 0);
  background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
  list-style-type: none;
  transition: 0.5s;
  box-shadow: 5px black;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.primerFila > li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.primerFila > li > ul:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 12px solid rgb(221, 221, 210);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 20px;
  border-radius: 2px;
}
.primerFila > li > ul > li {
  width: 114px;
  height: 35px;
  padding-bottom: 5px;
}
.primerFila > li > ul > li > a {
  padding: 7px;
}
.primerFila > li > ul > li > a:hover {
  transition: 0.5s;
  background-color: rgb(219, 131, 15);
  transform: scale(1.1);
  visibility: visible;
  z-index: 9;
}

/*Fin Barra Menu*/
/*SubMenu*/
/*SubMenu del apartado Niveles*/
.segundoSubmenu {
  position: absolute;
  padding-left: 10px;
  top: -1px;
  right: -10px;
  height: inherit;
  z-index: -1;
}
.segundoSubmenu li {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  left: 122px;
  padding: 7px;
  color: rgb(0, 0, 0);
  background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}
.segundoSubmenu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.primerFila li:hover > .segundoSubmenu li {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.segundoSubmenu .flechita:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid rgb(221, 221, 210);
  position: absolute;
  top: 14px;
  left: -20px;
  border-radius: 2px;
}

/*Fin SubMenu del apartado Niveles*/
/*Fin SubMenu*/
.containerGridMain {
  display: grid;
  position: relative;
  width: 100%;
  /*Aside*/
  /*Fin Aside*/
  /*Seccion Principal*/
  /*Fin Seccion Principal*/
}
.containerGridMain .aside_Container {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.containerGridMain .aside_Container h3 {
  font-size: x-large;
  text-align: center;
  background: #1f4037;
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037);
}
.containerGridMain .aside_Container p {
  font-size: 1rem;
  text-align: center;
  margin: 0 20px 0 20px;
}
.containerGridMain .sectionPrincipal {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(180deg, #9fb7f5 0, #6c90d8 50%, #2c6bbb 100%);
  padding: 20px;
  justify-content: center;
}
.containerGridMain .sectionPrincipal h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 90%;
  background-color: rgba(199, 30, 30, 0.644);
}
.containerGridMain .sectionPrincipal .contenedorTextoPrincipal {
  position: relative;
  width: 100%;
  height: auto;
  border: 6px solid rgb(131, 64, 64);
  border-radius: 10px;
  padding: 20px;
  background: rgba(28, 181, 224, 0.4784313725);
  background: linear-gradient(to right, rgba(28, 181, 224, 0.3764705882), rgba(84, 115, 129, 0.4039215686));
  margin-bottom: 2rem;
}
.containerGridMain .sectionPrincipal .contenedorTextoPrincipal p {
  font-size: 1rem;
  margin-left: 1rem;
  margin: 1rem;
}
.containerGridMain .sectionPrincipal img {
  border: 5px solid rgba(0, 0, 0, 0.3764705882);
  border-radius: 10px;
  width: 100%;
}

/*Pagina Niveles*/
.contenedorSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedorSection .sectionInfo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(175deg, #6c90d8 0, #6c90d8 50%, #6c90d8 100%);
  height: 100%;
  width: 100%;
}
.contenedorSection .sectionInfo .ciclos {
  position: relative;
  width: 93%;
  left: 3%;
  font-size: 1.6rem;
  margin: 30px 0px 10px 0px;
  background-color: rgba(199, 30, 30, 0.644);
}
.contenedorSection .sectionInfo h3 {
  position: relative;
  width: 75%;
  font-size: 1.2rem;
  background-color: goldenrod;
  left: 10%;
}
.contenedorSection .sectionInfo p {
  line-height: 1.4;
}

/*Fin Pagina Niveles*/
/*Pagina Galeria*/
/*.contenedor {
    padding: 10px 0;
    background-image: linear-gradient(to right bottom,
            #051937,
            #003c5e,
            #006168,
            #008352,
            #7b9d2d);
        .card {
        border-radius: 10px;
        min-height: 150px;
        margin-left: 1rem;
        padding: 10px;
        height: 200px;
        background-color: rgba(127, 255, 212, 0.493);
        z-index: 1;

        &:hover{
            background-color: rgb(30, 30, 196);
            transition: 0.5s;
        }
    }
}

.containerInfoFoto{
    position: absolute;
    top: 20%;
    width: 100%;
    left: 24%;
    @include properties-grid(1fr 1fr, repeat(4, 1fr));
    grid-gap: 215px 0px;
    grid-template-areas:
    "text-1 text-2"
    "text-3 text-4"
    "text-5 text-6"
    "text-7 text-8";
    p {
        position: absolute;
        width: 280px;
        height: 190px;
        background-color: #9db900cb;
        border-radius: 20px;
        padding: 10px;
        visibility: visible;
        border: 4px solid #d9ff00cb;
    }
    .card:hover p{
        visibility: visible;
    }

    .text-1{
        grid-area: text-1;
    }
    .text-2{
        grid-area: text-2;
    }
    .text-3{
        grid-area: text-3;
    }
    .text-4{
        grid-area: text-4;
    }
    .text-5{
        grid-area: text-5;
    }
    .text-6{
        grid-area: text-6;
    }
    .text-7{
        grid-area: text-7;
    }
    .text-8{
        grid-area: text-8;
    }
}*/
main {
  background-color: rgba(0, 60, 94, 0.7058823529);
}
main .slideContenedor {
  position: relative;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 620px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 122, 0.267);
}
main .slideContenedor .miSlider img {
  left: 10%;
  width: 100%;
  max-height: 60vh;
  vertical-align: top;
  transition: 2s;
  border: 3px solid rgba(51, 53, 153, 0.664);
  border-radius: 3px;
}
main .slideContenedor .miSlider p {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 5px;
  width: auto;
  height: 40px;
  text-align: center;
  border: 4px solid rgba(255, 0, 0, 0.445);
  border-radius: 5px;
  background-color: rgba(0, 60, 94, 0.4039215686);
  color: #dbdbdb;
}
main .slideContenedor .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
main .slideContenedor .direcciones {
  width: 99%;
  height: 10%;
  position: absolute;
  top: 20;
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
}
main .slideContenedor .direcciones a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  background-color: rgba(0, 60, 94, 0.4039215686);
  border-radius: 100px;
}
main .slideContenedor .direcciones a:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
main .slideContenedor .barras {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  margin-bottom: 15px;
}
main .slideContenedor .barras .barra {
  cursor: pointer;
  height: 8px;
  width: 30px;
  margin: 0 5px;
  border-radius: 5px;
  background: #dcdde1;
  display: inline-block;
  margin-left: 3px;
}
main .slideContenedor .barras .active {
  background-color: #e74c3c;
}

/*Fin Pagina Galeria*/
/*Pagina Especialidades*/
.contenedorSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorSection .sectionInfo {
  position: relative;
  background-image: linear-gradient(175deg, #6c90d8 0, #6c90d8 50%, #6c90d8 100%);
  height: 100%;
  width: 100%;
}
.contenedorSection .sectionInfo .ciclos {
  width: 90%;
  margin: 30px 0px 25px 0px;
  background-color: rgba(199, 30, 30, 0.644);
}
.contenedorSection .sectionInfo h2 {
  position: relative;
  width: 85%;
  background-color: goldenrod;
  font-size: 1.3rem;
  left: 6%;
  margin: 20px 0px 30px 0px;
}
.contenedorSection .sectionInfo p {
  font-family: "Times New Roman";
  line-height: 1.5;
  font-size: 1rem;
  text-align: start;
  margin: 0px 70px 30px 70px;
}

/*Fin Pagina Especialidades*/
/*Pagina Contactanos*/
.contenedorFormulario {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.infoContacto ul {
  list-style: none;
  padding: 0;
}

.logoForm {
  text-align: center;
  font-size: 3em;
}

.contenedorContacto {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.contenedorContacto > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}
.contact-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
  color: white;
}
.contact-form form .bloque {
  grid-column: 1/3;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #304ed6;
}
.contact-form form button {
  background: #110eb7;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover, .contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.infoContacto {
  background: rgba(0, 0, 0, 0.534);
}
.infoContacto h4,
.infoContacto ul,
.infoContacto p {
  text-align: center;
  margin: 0 0 1rem 0;
  color: white;
}

/*Parte Footer*/
.containerGridFooter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "redesSociales infoFooter";
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.containerGridFooter .redesSociales {
  grid-area: redesSociales;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.containerGridFooter .redesSociales li {
  padding: 4px;
}
.containerGridFooter .redesSociales .logos {
  display: flex;
  height: 40px;
  border-radius: 20px;
  text-decoration: none;
}
.containerGridFooter .infoFooter {
  grid-area: infoFooter;
  position: absolute;
  left: 50%;
  right: 0;
  font-size: 12px;
  width: 120px;
  height: 6%;
  text-align: center;
  background-color: rgba(40, 1, 131, 0.3019607843);
}
.containerGridFooter .infoFooter p {
  font-size: 12px;
  color: #fff;
}

.contenedorFlechaArriba {
  position: fixed;
  width: 7%;
  right: 0%;
  bottom: 1%;
}
.contenedorFlechaArriba p {
  position: absolute;
  width: 50px;
  height: 28px;
  bottom: 110%;
  right: 50%;
  padding: 5px;
  visibility: hidden;
}
.contenedorFlechaArriba:hover p {
  visibility: visible;
  transition: 0.3s;
  background-color: rgba(255, 235, 205, 0.76);
  border-radius: 5px;
}

.flechaParaArriba {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  right: 1%;
  bottom: 1%;
}

/*Fin Parte Footer*/
@media screen and (max-width: 480px) {
  .logo,
.logo2 {
    position: absolute;
    height: 50px;
    width: 50px;
  }
  .logo {
    left: 20px;
  }
  .logo2 {
    right: 20px;
  }
  /*Parte Footer*/
  .contenedorFlechaArriba {
    position: fixed;
    width: 7%;
    right: 7%;
    bottom: 1%;
  }
  .flechaParaArriba {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
  }
  .contenedorFlechaArriba p {
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: row;
    height: 25px;
    bottom: 110%;
    left: -35%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
  }
  .contenedorFlechaArriba:hover p {
    visibility: visible;
    transition: 0.3s;
    background-color: rgba(255, 235, 205, 0.76);
    border-radius: 5px;
  }
}
@media screen and (max-width: 410px) {
  .tituloPrincipal {
    font-size: 18px;
  }
  .logo {
    left: 10px;
  }
  .logo2 {
    right: 10px;
  }
  main .slideContenedor {
    position: relative;
    width: 95%;
  }
  .segundoSubmenu {
    top: 88px;
    right: 120px;
    height: inherit;
    z-index: -1;
  }
  .segundoSubmenu .flechita:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid rgb(221, 221, 210);
    position: absolute;
    top: -63px;
    left: 20px;
    visibility: hidden;
    border-radius: 2px;
  }
  .cicloSuperior {
    top: 53px;
  }
  .flechita {
    visibility: hidden;
  }
  /*Parte Footer*/
  .contenedorFlechaArriba {
    position: fixed;
    width: 7%;
    right: 11%;
    bottom: 1%;
  }
  .flechaParaArriba {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
  }
  .contenedorFlechaArriba p {
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: row;
    height: 25px;
    bottom: 110%;
    left: -35%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
  }
  .contenedorFlechaArriba:hover p {
    visibility: visible;
    transition: 0.3s;
    background-color: rgba(255, 235, 205, 0.76);
    border-radius: 5px;
  }
}
@media screen and (max-width: 374px) {
  .containerGridHeader {
    position: relative;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "tituloPrincipal" "containerMenu" "containerMenu";
  }
  main .slideContenedor {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .contenedorFlechaArriba {
    position: fixed;
    width: 9%;
    right: 10%;
    bottom: 3%;
  }
}
@media screen and (max-width: 350px) {
  .tituloPrincipal {
    font-size: 16px;
  }
  .logo {
    left: 10px;
  }
  .logo2 {
    right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .containerGridHeader {
    position: relative;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "tituloPrincipal" "containerMenu" "containerMenu" "containerMenu" "containerMenu";
  }
  .tituloPrincipal {
    font-size: 15px;
  }
  /*Parte Footer*/
  .containerGridFooter {
    display: grid;
    grid-template-columns: 1fr;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-template-areas: "redesSociales";
  }
  .contenedorFlechaArriba {
    position: fixed;
    width: 9%;
    right: 10%;
    bottom: 4%;
  }
  .contenedorFlechaArriba p {
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: row;
    height: 25px;
    bottom: 110%;
    right: 50%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
  }
  .contenedorFlechaArriba:hover p {
    visibility: visible;
    transition: 0.3s;
    background-color: rgba(255, 235, 205, 0.76);
    border-radius: 5px;
  }
  .flechaParaArriba {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
  }
}
@media screen and (max-width: 768px) {
  /*Parte Footer*/
  .contenedorFlechaArriba {
    position: fixed;
    width: 7%;
    right: 5%;
    bottom: 1%;
  }
  .flechaParaArriba {
    height: 45px;
    width: 45px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
  }
  .contenedorFlechaArriba p {
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: row;
    height: 25px;
    bottom: 110%;
    right: 2%;
    padding: 5px;
    text-align: center;
    justify-content: center;
    visibility: hidden;
  }
  .contenedorFlechaArriba:hover p {
    visibility: visible;
    transition: 0.3s;
    background-color: rgba(255, 235, 205, 0.76);
    border-radius: 5px;
  }
  main .slideContenedor {
    position: relative;
    width: 75%;
  }
}
@media screen and (max-width: 720px) {
  main .slideContenedor {
    position: relative;
    width: 85%;
  }
}
@media screen and (max-width: 640px) {
  .containerGridMain {
    display: grid;
    position: relative;
    width: 100%;
    height: 1000px;
  }
  main .slideContenedor {
    position: relative;
    width: 85%;
  }
}
@media screen and (max-width: 617px) {
  .tituloPrincipal {
    font-size: 20px;
  }
  .logo,
.logo2 {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 604px) {
  .containerGridHeader {
    position: relative;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "tituloPrincipal" "containerMenu" "containerMenu";
  }
  .containerGridMain {
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
  }
  /*Parte Footer*/
  .contenedorFlechaArriba {
    position: fixed;
    width: 7%;
    right: 8%;
    bottom: 1%;
  }
  .flechaParaArriba {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
  }
  .contenedorFlechaArriba p {
    position: absolute;
    width: 40px;
    display: flex;
    flex-direction: row;
    height: 25px;
    bottom: 110%;
    font-size: small;
    right: 0%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
  }
  .contenedorFlechaArriba:hover p {
    visibility: visible;
    transition: 0.3s;
    background-color: rgba(255, 235, 205, 0.76);
    border-radius: 5px;
  }
}
/*input:focus
.container p:not(.class) para excluir a la clase
form::placeholder*/
/*320   480    600    768 y 1023   1024    1200*/
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */