/*Parte Footer*/
.containerGridFooter {
    @include properties-grid(1,1);
    grid-template-areas: "redesSociales infoFooter";
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    .redesSociales {
        grid-area: redesSociales;
        @include properties-flex(row, none, center);
        li {
            padding: 4px;
        }
        .logos {
            display: flex;
            height: 40px;
            width: auto;
            border-radius: 20px;
            text-decoration: none;
        }
    }
    .infoFooter{
        grid-area: infoFooter;
        position: absolute;
        left: 50%;
        right: 0;
        font-size: 12px;
        width: 120px;
        height: 6%;
        text-align: center;
        background-color: #2801834d;
        p{
            font-size: 12px;
            color: #fff;
        }
    }
}

.contenedorFlechaArriba {
    position: fixed;
    width: 7%;
    right: 0%;
    bottom: 1%;
    p {
        position: absolute;
        width: 50px;
        height: 28px;
        bottom: 110%;
        right: 50%;
        padding: 5px;
        visibility: hidden;
    }
    &:hover p {
        visibility: visible;
        transition: 0.3s;
        background-color: rgba(255, 235, 205, 0.76);
        border-radius: 5px;
    }
}

.flechaParaArriba {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    right: 1%;
    bottom: 1%;
}

/*Fin Parte Footer*/
