/*Pagina Niveles*/
.contenedorSection {
    position: relative;
    @include properties-flex(column, center, center);
    text-align: center;
    background-image: linear-gradient(180deg,
            #9fb7f5 0,
            #6c90d8 50%,
            #2c6bbb 100%);

    h2 {
        position: relative;
        font-size: $tamanioH2;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 20px;
        width: 70%;
        left: 15%;
        background-color: $colorFondoTitulos;
    }

    .subtitle {
        position: relative;
        width: 85%;
        font-size: 1.2rem;
        background-color: goldenrod;
        margin: 20px 10px;
        left: 5%;
    }

    .containerRemerasPoli{
        position: relative;
        @include properties-flex(column, center, center);
        .containerIndi{
            margin: 10px;
        }
        p{
            position: relative;
            text-align: center;
            width: 80%;
        }
    }
}

.contenedorTextoPrincipal {
    position: relative;
    width: 70%;
    height: auto;
    left: 15%;
    border: 6px solid $colorFondoTitulos;
    border-radius: 10px;
    padding: 20px;
    background: #1cb5e07a;
    background: linear-gradient(to right, #1cb5e060, #54738167);
    margin-bottom: 2rem;
    grid-area: contenedorTextoPrincipal;

    p {
        font-size: $tamanioParrafos;
        margin-left: 1rem;
        margin: 1rem;
    }
    .containerFotosInsti{
        position: relative;
        @include properties-flex(row, center, center);
        flex-wrap: wrap;
        img{
            height:300px;
            margin: 20px;
        }
        .imageUno{
            position: relative;
            right: 5%;
        }
        .imageDos{
            position: relative;
            right: 5%;
        }
    }
}

.containerFotos {
    position: relative;
    left:0%;
    grid-area: containerFotos;
    @include properties-flex(column, center, center);

    p {
        position: relative;
        line-height: normal;
        width: 15%;
        right: 0%;
    }

    img {
        border: 3px solid #6c90d8;
        border-radius: 100px;
    }

    .fotoVice {
        position: relative;
        margin: 10px 0px 10px 20px;
    }
}


/*Fin Pagina Niveles*/