.containerGridMain {
    display: grid;
    position: relative;
    width: 100%;
    .containerMainTienda {
        @include properties-flex(row, flex-start, center);
        flex-wrap: wrap;
        gap: 80px;
        margin: 50px 40px 50px 70px;
        .containerProducto{
        @include properties-flex(column, none, center);
        flex-wrap: nowrap;
        position: relative;
        background-color: rgba(0, 162, 255, 0.418);
        padding: 20px;
        width: 250px;
        height: 415px;
        max-height: 460px;
        border-radius: 5px;

            button{
                background-color: rgb(25, 88, 206);
                border-radius: 100px;
                width: 120px;
                margin: 4px;
                padding: 2px;
            }

            img{
                min-height: 210px;
                margin-bottom: 10px;
                border-radius: 5px;
            }

            .nombreProducto{
                text-align: center;
                background-color: rgba(250, 235, 215, 0.438);
                width: 100px;
                max-width: 200px;
                max-height: 50px;
                margin-bottom: 10px;
                border-radius: 5px;
            }
            .contador{
                text-align: center;
                width: 40px;
                color: black;
            }
        }
    }
}
