/*Pagina Galeria*/
main{
    background-color: #003c5eb4;
    .slideContenedor {
        position: relative;
        @include properties-flex(none, center, center);
        margin: auto;
        width: 50%;
        height: 700px;
        padding: 20px;
        overflow: hidden;
        background-color: rgba(0, 0, 122, 0.267);
        .miSlider{
            img {
                max-height: 60vh;
                vertical-align: top;
                transition: 2s;
                border: 3px solid rgba(51, 53, 153, 0.664);
                border-radius: 3px;

            }
            p{
                position: absolute;
                top: 4%;
                left: 0%;
                @include properties-flex(row, center, center);
                padding: 5px;
                width: 100%;
                height: auto;
                border-radius: 5px;
                background-color: #003c5e67;
                color: #dbdbdb;
            }
            .acomodoFoto{
                top: 2%;
            }
        }
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
        .direcciones {
            width: 99%;
            height: 10%;
            position: absolute;
            top: 20;
            @include properties-flex(none, space-between, center);
            a {
                color: #fff;
                padding: 20px;
                text-decoration: none;
                background-color: #003c5e67;
                border-radius: 100px;
                &:hover {
                    background: rgba(0, 0, 0, .5);
                    transition: .5s;
                }
            }
        }
        .barras {
        position: absolute;
            bottom: 0;
            width: 100%;
            @include properties-flex(none, center, none);
            margin-bottom: 15px;
            .barra {
                cursor: pointer;
                height: 8px;
                width: 30px;
                margin: 0 5px;
                border-radius: 5px;
                background: #dcdde1;
                display: inline-block;
                margin-left: 3px;
            }
            .active {
                background-color: #e74c3c;
            }
        }
    }
}
/*Fin Pagina Galeria*/