/*Pagina Galeria*/
.contenedor {
    padding: 10px 0;
    background-image: linear-gradient(to right bottom,
            #051937,
            #003c5e,
            #006168,
            #008352,
            #7b9d2d);
            p {
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 300px;
                height: auto;
                left: 25%;
                top: 20%;
                background-color: #5e002c;
                border-radius: 2px;
                padding: 10px;
            }
        .card {
        border-radius: 10px;
        min-height: 150px;
        margin-left: 1rem;
        padding: 10px;
        height: 200px;
        background-color: rgba(127, 255, 212, 0.493);

        &:hover{
            background-color: rgb(30, 30, 196);
            transition: 0.5s;
        }

        /*&:hover > p{
            visibility: visible;
            background-color: rgb(30, 30, 196);
        }*/
    }
}

/*Fin Pagina Galeria*/