@media screen and (max-width: 480px) {

    .logo,
    .logo2 {
        position: absolute;
        height: 50px;
        width: 50px;
    }

    .logo {
        left: 20px;
    }

    .logo2 {
        right: 20px;
    }

    .flechita2:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 6px solid transparent;
        border-top: 6px solid rgb(221, 221, 210);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        top: 23px;
        left: 50%;
        border-radius: 2px;
    }

    .containerGridMain {
        .aside_Container {
            .containerMap {
                position: absolute;
                top: 38%;
                left: 18%;
            }
        }
    }

    /*Parte Footer*/
    .containerGridFooter {
        .containerInfoMedio {
            right: 5%;

            img {
                height: 35px;
                margin: 6px;
            }

            p {
                left: -30%;
            }
        }
    }

    .contenedorFlechaArriba {
        position: fixed;
        width: 7%;
        right: 7%;
        bottom: 1%;
    }

    .flechaParaArriba {
        height: 35px;
        width: 35px;
        border-radius: 30px;
        right: 1%;
        bottom: 1%;
    }

    .contenedorFlechaArriba {
        p {
            position: absolute;
            width: 50px;
            @include properties-flex(row, none, center);
            height: 25px;
            bottom: 110%;
            left: -35%;
            padding: 5px;
            visibility: hidden;
        }

        &:hover p {
            visibility: visible;
            transition: 0.3s;
            background-color: rgba(255, 235, 205, 0.76);
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 412px) {
    .tituloPrincipal {
        font-size: 18px;
    }

    .logo {
        left: 10px;
    }

    .logo2 {
        right: 10px;
    }

    main .slideContenedor {
        position: relative;
        width: 95%;
    }

    .segundoSubmenu {
        top: 88px;
        right: 120px;
        height: inherit;
        z-index: -1;

        .flechita:before {
            content: "";
            width: 0;
            height: 0;
            border-bottom: 12px solid transparent;
            border-left: 12px solid transparent;
            border-right: 12px solid rgb(221, 221, 210);
            position: absolute;
            top: -63px;
            left: 20px;
            visibility: hidden;
            border-radius: 2px;
        }
    }

    .cicloSuperior {
        top: 120px;
    }

    .flechita {
        visibility: hidden;
    }

    .containerGridMain {
        .aside_Container {
            .containerMap {
                position: absolute;
                top: 37%;
                left: 25%;
                width: 50%;

                p {
                    position: relative;
                    font-size: 15px;
                    top: 12px;
                }
            }
        }
    }

    /*Parte Footer*/
    .containerGridFooter {
        .containerInfoMedio {
            p {
                left: -15%;
                font-size: 11px;
            }
        }
    }

    .contenedorFlechaArriba {
        position: fixed;
        width: 7%;
        right: 11%;
        bottom: 1%;
    }

    .flechaParaArriba {
        height: 35px;
        width: 35px;
        border-radius: 30px;
        right: 1%;
        bottom: 1%;
    }

    .contenedorFlechaArriba {
        p {
            position: absolute;
            width: 50px;
            @include properties-flex(row, none, center);
            height: 25px;
            bottom: 110%;
            left: -35%;
            padding: 5px;
            visibility: hidden;
        }

        &:hover p {
            visibility: visible;
            transition: 0.3s;
            background-color: rgba(255, 235, 205, 0.76);
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 374px) {
    .containerGridHeader {
        position: relative;
        height: 180px;
        @include properties-grid(1fr, repeat(3, 1fr));
        grid-template-areas:
            "tituloPrincipal"
            "containerMenu"
            "containerMenu"
        ;
    }

    main .slideContenedor {
        position: relative;
        width: 100%;
        margin: 0;
    }

    .contenedorFlechaArriba {
        position: fixed;
        width: 9%;
        right: 10%;
        bottom: 3%;
    }

    .containerGridFooter {
        .containerInfoMedio {
            right: 5%;

            img {
                height: 30px;
                margin: 6px;
            }
        }
    }

}

@media screen and (max-width: 350px) {
    .tituloPrincipal {
        font-size: 16px;
    }

    .logo {
        left: 10px;
    }

    .logo2 {
        right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .containerGridHeader {
        position: relative;
        height: 180px;
        @include properties-grid(1fr, repeat(5, 1fr));
        grid-template-areas:
            "tituloPrincipal"
            "containerMenu"
            "containerMenu"
            "containerMenu"
            "containerMenu"
        ;
    }

    .tituloPrincipal {
        font-size: 15px;
    }

    /*Parte Footer*/
    .containerGridFooter {
        @include properties-grid(1fr, auto);
        grid-template-areas: "redesSociales";

        .containerInfoMedio {
            right: 0%;
            bottom: 62px;
            left: 0%;

            p {
                bottom: -97%;
                left: 1%;
                font-size: 10px;
            }
        }
    }

    .contenedorFlechaArriba {
        position: fixed;
        width: 9%;
        right: 10%;
        bottom: 4%;

        p {
            position: absolute;
            width: 50px;
            @include properties-flex(row, none, center);
            height: 25px;
            bottom: 110%;
            right: 50%;
            padding: 5px;
            visibility: hidden;
        }

        &:hover p {
            visibility: visible;
            transition: 0.3s;
            background-color: rgba(255, 235, 205, 0.76);
            border-radius: 5px;
        }
    }

    .flechaParaArriba {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        right: 1%;
        bottom: 1%;
    }
}