@media screen and (max-width: 768px) {
    .flechita2:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 6px solid transparent;
        border-top: 6px solid rgb(221, 221, 210);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        top: 23px;
        left: 50%;
        border-radius: 2px;
    }

    .contenedorTextoPrincipal {
        width: 95%;
        left: 3%;
    }

    .contenedorSection {
        .sectionInfo {
            .containerFotosEspecialidades {
                .imageUno {
                    position: relative;
                    right: 0%;
                    width: 85%;
                }

                .imageDos {
                    position: relative;
                    right: 0%;
                    width: 84%;
                }
            }
        }
    }

    .containerGridMain {
        display: grid;
        position: relative;
        width: 100%;
        height: auto;
    }

    main .slideContenedor {
        position: relative;
        width: 100%;
    }

    .containerGridFooter {
        grid-template-areas: "redesSociales containerInfoMedio";
        .containerInfoMedio {
            img {
                height: 50px;
                margin: 6px;
            }

            p {
                left: -17%;
            }
        }

        .redesSociales {
            grid-area: redesSociales;
            @include properties-flex(row, none, center);
            flex-wrap: wrap;
        }
    }

    .contenedorFlechaArriba {
        position: fixed;
        width: 7%;
        right: 5%;
        bottom: 1%;
    }

    .flechaParaArriba {
        height: 45px;
        width: 45px;
        border-radius: 30px;
        right: 1%;
        bottom: 1%;
    }

    .contenedorFlechaArriba {
        p {
            position: absolute;
            width: 50px;
            display: flex;
            flex-direction: row;
            height: 25px;
            bottom: 110%;
            right: 2%;
            padding: 5px;
            text-align: center;
            justify-content: center;
            visibility: hidden;
        }

        &:hover p {
            visibility: visible;
            transition: 0.3s;
            background-color: rgba(255, 235, 205, 0.76);
            border-radius: 5px;
        }
    }

    main .slideContenedor {
        position: relative;
        width: 90%;
    }
}

@media screen and (max-width: 617px) {
    .tituloPrincipal {
        font-size: 20px;
    }

    .logo,
    .logo2 {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 604px) {
    .containerGridHeader {
        position: relative;
        height: 150px;
        @include properties-grid(1fr, repeat(3,1fr));
        grid-template-areas:
            "tituloPrincipal"
            "containerMenu"
            "containerMenu";
    }

    /*Parte Footer*/
    .containerGridFooter {
        .containerInfoMedio {
            img {
                height: 40px;
                margin: 6px;
            }

            p {
                font-size: 13px;
                left: -22%;
            }
        }
    }

    .contenedorFlechaArriba {
        position: fixed;
        width: 7%;
        right: 8%;
        bottom: 1%;
    }

    .flechaParaArriba {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        right: 1%;
        bottom: 1%;
    }

    .contenedorFlechaArriba {
        p {
            position: absolute;
            width: 40px;
            display: flex;
            flex-direction: row;
            height: 25px;
            bottom: 110%;
            font-size: small;
            right: 0%;
            padding: 5px;
            text-align: center;
            visibility: hidden;
        }

        &:hover p {
            visibility: visible;
            transition: 0.3s;
            background-color: rgba(255, 235, 205, 0.76);
            border-radius: 5px;
        }
    }
}